/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

body{
    background: linear-gradient(180deg, #003366, #1f263b) fixed;
    width: 100%;
    margin: 0;
    color: #BEBEBE;
}

a{
    text-decoration: none;
    color: #B0B0B0;
}

.container{
    height: 100vh;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail {
    display: flex;
}

.detail img {
    position: relative;
    width: 500px;

}

.detail p{
    position: relative;
    font-size: 1.5em;
    width: 500px;
    padding: 50px;
}

.heading {
    font-size: 3em;;
    opacity: 0.5;
    padding: 50px;
}

/*Landing Page*/
.landing{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    font-size: 10rem;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 4s;
}

@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}

#menu {
    position: fixed;
    width: 200px;
    height: 250px;
    top: 300px;
    right: 0px;
}

circle, text {
    transition: fill 0.5s, font-size 0.5s, r 0.5s;
}

#active {
    transition: cy 0.5s;
}

g:hover [id="0"], g:hover [id=section1] {
    fill: black !important;
    font-size: 1.5em;

}

g:hover [id="1"], g:hover [id=section2] {
    fill: black !important;
    font-size: 1.5em;
}

g:hover [id="2"], g:hover [id=section3] {
    fill: black !important;
    font-size: 1.5em;
}

g:hover [id="3"], g:hover [id=section4] {
    fill: black !important;
    font-size: 1.5em;
}
