/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Montserrat', Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(180deg, #003366, #1f263b) fixed;
    width: 100%;
    margin: 0;
    color: #BEBEBE;
}

a{
    text-decoration: none;
    color: #B0B0B0;
}

p {
    font-size: 1.5em;
    width: 500px;
    padding: 0px 50px 0px 50px;
}

.container{
    height: 100vh;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 3em;
    opacity: 0.5;
    padding: 0px 0px 50px 0px;
}

/*Landing Page*/
.landing{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    font-size: 10rem;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 4s;
}

@keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
}

/*About*/
.detail {
    display: flex;
    align-items: center;
}

#about .detail img {
    width: 500px;

}

/*Experience*/
#exp .detail {
    display: flex;
    flex-direction: column;
}

#exp .exp1 {
    display: flex;
    align-items: center;
    padding: 0px 0px 20px 0px;
}

#exp .exp2 {
    display: flex;
    align-items: center;
}

#exp img {
    width: 200px;
    height: 200px;
}

/*Contact*/
#contact form {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 2em;
}

#contact label {
    padding: 1em 0px 0px 0px;
}

#contact input, textarea {
    padding: 1em;
}

/*Nav bar*/
#menu {
    position: fixed;
    width: 200px;
    height: 250px;
    top: 300px;
    right: 0px;
}

circle, text {
    transition: fill 0.5s, font-size 0.5s, r 0.5s;
}

#active {
    transition: cy 0.5s;
}

g:hover [id="0"], g:hover [id=section1] {
    fill: black !important;
    font-size: 1.5em;

}

g:hover [id="1"], g:hover [id=section2] {
    fill: black !important;
    font-size: 1.5em;
}

g:hover [id="2"], g:hover [id=section3] {
    fill: black !important;
    font-size: 1.5em;
}

g:hover [id="3"], g:hover [id=section4] {
    fill: black !important;
    font-size: 1.5em;
}
